spring:
  jpa:
    hibernate:
      ddl-auto: update
    database: mysql
    properties:
      hibernate:
        show_sql: true

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jwt:
    secret: ${JWT_SECRET_KEY}
    expiration: 3600000 # 1시간 (밀리초)
    refreshExpiration: 604800000 # 7일 (밀리초)

REDIS_HOST: ${REDIS_URL}
REDIS_PORT: ${REDIS_PORT}