spring:
  jackson:
    time-zone: Asia/Seoul # 한국 시간으로 변경

  jpa:
    hibernate:
      ddl-auto: none
    database: mysql
    properties:
      hibernate:
        show_sql: true

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}

  jwt:
    secret: ${JWT_SECRET_KEY}
    expiration: 3600000 # 1시간 (밀리초)
    refreshExpiration: 604800000 # 7일 (밀리초)

  # 인증코드 관련
  mail:
    host: smtp.gmail.com
    port: 587
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true

oauth:
  kakao:
    client-id: ${KAKAO_CLIENT_ID}
    redirect-uri: ${KAKAO_REDIRECT_URI}
  naver:
    client-id: ${NAVER_CLIENT_ID}
    client-secret: ${NAVER_CLIENT_SECRET}
  apple:
    client-id: ${APPLE_CLIENT_ID}
    key-id: ${APPLE_KEY_ID}
    team-id: ${APPLE_TEAM_ID}
    private-key: ${APPLE_PRIVATE_KEY}
##  google:
##    client-id: ${GOOGLE_CLIENT_ID}
##    client-secret: ${GOOGLE_CLIENT_SECRET}
##    redirect-uri: ${GOOGLE_REDIRECT_URI}

REDIS_HOST: ${REDIS_URL}
REDIS_PORT: ${REDIS_PORT}
REDIS_TLS: ${REDIS_TLS}

fcm:
  url: https://fcm.googleapis.com/v1/projects/${FCM_PROJECT_ID}/messages:send
  google-api: https://www.googleapis.com/auth/cloud-platform
  project-id: ${FCM_PROJECT_ID}